{% extends 'app/base.html' %}
{% block content %}
<div class="task-list">
    <h4 class="mb-5">{{project_title}} <a href="{% url 'edit-project' project_id %}"><span class="ms-2"><i
                    class="fa-solid fa-pen-to-square"></i></span></a> <a href="{% url 'delete-project' project_id %}"><i
                class="fa-solid fa-trash ms-2" style="color: rgb(181, 13, 13);"></i></a></h4>
    {% if tasks.count == 0 %}
    <div style="text-align: center; margin-top: 100px;">
        <p>Currently you have no tasks associated with {{project_title}}</p>
        <a href="{% url 'create-task' project_id %}" class="btn btn-dark">Add task</a>
    </div>
    {% else %}
    <a href="{% url 'export-to-gist' project_id %}" class="btn  btn-warning"
        style="margin-left: 600px; margin-top: -53px;">Export
        Summary To Gists</a>
    <a href="{% url 'create-task' project_id %}" class="btn btn-dark" style="margin-left: 820px; margin-top: -100px;"><i
            class="fa-solid fa-plus me-2"></i>Add Task</a>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% for task in tasks %}
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text" style="font-weight: bold;">{{task.description}}</p>
            <p>Date Created: {{ task.created_date|date:"F d Y" }}</p>
            {% if task.status == "Completed" %}
            <p>Status: <span style="color: green; font-weight: bold;">{{task.status}}</span></p>
            {% elif task.status == "Pending" %}
            <p>Status: <span style="color: blue; font-weight: bold;">{{task.status}}</span></p>
            {% endif %}
            <a href="{% url 'update-task' task.id %}" class="btn btn-sm btn-primary">Update task</a>
            <a href="{% url 'delete-task' task.id %}" class="btn btn-sm btn-danger">Delete task</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}